@model List<Jenpbiz.Models.Product>
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<div class="container">
    <br/>
    <br />
    <br />
    <div class="list-group">
        @foreach (var p in Model)
        {

            <a href="@p.ProductLink" class="list-group-item"><span class="label label-default">@p.ProductId</span> @p.ProductTitle @p.PruductDescription</a>

        }
    </div>

</div>
</body>
</html>
