@model List<Jenpbiz.Models.Product>
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<div class="container">
    <br/>
    <br />
    <br />
    <div class="list-group">
        @foreach (var p in Model)
        {

            <a href="~/Product/GetProduct/@p.ProductId" class="list-group-item"><span class="label label-default">@p.ProductId</span> @p.ProductTitle @p.ProductDescription</a>
            @*@Html.ActionLink(p.ProductTitle, "GetProduct", "Product",
           new { id = p.ProductId },
           new { @class = "list-group-item" })*@

        }
    </div>

</div>
</body>
</html>
