
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container"> 

        <a href="/GoogleApi/Api_GetProducts/">Get Products</a>

    </div>
</body>
</html>
