@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertProduct</title>
</head>
<body>
<div class="container">
    <br/>




</div>
</body>
</html>
