@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertProduct</title>
</head>
<body>
<div class="container">
    <br/>





        <!-- HTML to write -->
        <a href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>
        <!-- Generated markup by the plugin -->
        <div class="tooltip top" role="tooltip">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">
                Some tooltip text!
            </div>
        </div>

         
    </div> <!-- END OF CONTAINER -->


    <script type="text/javascript">

    </script>


</div>
</body>
</html>
