
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertProduct</title>
</head>
<body>



    <div class="container">
        
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalCreate">
            Create
        </button>
        <!-- Modal -->
        <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">New Product</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">id</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- END OF MODAL -->

        <!-- HTML to write -->
        <a href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>
        <!-- Generated markup by the plugin -->
        <div class="tooltip top" role="tooltip">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">
                Some tooltip text!
            </div>
        </div>

         
    </div> <!-- END OF CONTAINER -->


    <script type="text/javascript">

    </script>

</body>
</html>
